*{
    padding: 0px;
    margin: 0px;
}
{box-sizing: border-box}
a {text-decoration: none;
  color:white;}


  a:hover{
      color:royalblue;
  }
  
  
        .container {
          padding: 16px;
        }
        
       
        input[type=text], input[type=password] {
          width:100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
        }input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline:none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.h2{
    background-color: black;
    color:white;
    text-align-last: center;
    height:50px;
    padding:18px;
    font:medium;
}


.registerbtn {
  background-color: #4CAF50;color:white;

  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor:pointer;
  width: 100%;
  opacity: 0.8;
}
.registerbtn:hover{
    opacity:1;
}


#ug{
    color:royalblue;
}



.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.fir{
    height: 25px;
    display:inherit;
    padding: 18px;
    
    color:white;
    
    background-color:rgb(4, 38, 39);
}
li{
    float:left;
    margin-left: 20px;
    list-style-type:none;
    
}
.mar{
    color:rgb(240, 6, 22);
    font:x-large;
}
.display-4{
    font:larger;
}
